name: Build ZIP Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Composer
        run: |
          php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
          php composer-setup.php --install-dir=/usr/local/bin --filename=composer
          php -r "unlink('composer-setup.php');"

      - name: Install Dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Create ZIP Artifact
        run: zip -r php-aws-info.zip public get-aws-metadata.php composer.json composer.lock vendor

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: php-aws-info
          path: php-aws-info.zip